---
import Backlinks from '@/components/blog/Backlinks.astro'
import Breadcrumbs from '@/components/layout/Breadcrumbs.astro'
import GiscusComments from '@/components/features/GiscusComments.astro'
import MDXImage from '@/components/common/MDXImage.astro'
import PostHead from '@/components/blog/PostHead.astro'
import PostHeader from '@/components/blog/PostHeader.astro'
import PostNavigation from '@/components/blog/PostNavigation.astro'
import ScrollToTop from '@/components/common/ScrollToTop.astro'
import SubpostsHeader from '@/components/blog/SubpostsHeader.astro'
import SubpostsSidebar from '@/components/blog/SubpostsSidebar.astro'
import TOCHeader from '@/components/blog/TOCHeader.astro'
import TOCSidebar from '@/components/blog/TOCSidebar.astro'
import { ICONS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import {
  getAllPostsAndSubposts,
  getParentId,
  getPostPageData,
} from '@/lib/data-utils'
import { Image } from 'astro:assets'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getAllPostsAndSubposts()
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }))
}

const post = Astro.props
const currentPostId = Astro.params.id
const { Content, headings } = await render(post)

const {
  authors,
  isCurrentSubpost,
  navigation,
  parentPost,
  hasChildPosts,
  subpostCount,
  postReadingTime,
  combinedReadingTime,
  tocSections,
  backlinks,
} = await getPostPageData(post)
---

<Layout>
  <PostHead slot="head" post={post} image={`/og/${post.id}`} />
  {
    (hasChildPosts || isCurrentSubpost) && (
      <SubpostsHeader
        slot="subposts-navigation"
        parentId={isCurrentSubpost ? getParentId(currentPostId) : currentPostId}
      />
    )
  }
  {
    headings?.length > 0 &&
      !(
        isCurrentSubpost &&
        headings.length === 1 &&
        headings[0].text === post.data.title
      ) && <TOCHeader slot="table-of-contents" headings={headings} />
  }

  <section
    class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-md)-2rem),100%)_minmax(0px,1fr)] gap-y-6"
  >
    <div class="col-start-2">
      <Breadcrumbs
        items={[
          { href: '/blog', label: 'Blog', icon: ICONS.libraryBig },
          ...(isCurrentSubpost && parentPost
            ? [
                {
                  href: `/blog/${parentPost.id}`,
                  label: parentPost.data.title,
                  icon: ICONS.bookOpen,
                },
                {
                  href: `/blog/${currentPostId}`,
                  label: post.data.title,
                  icon: ICONS.fileText,
                },
              ]
            : [
                {
                  href: `/blog/${currentPostId}`,
                  label: post.data.title,
                  icon: ICONS.bookOpenText,
                },
              ]),
        ]}
      />
    </div>

    {
      post.data.image && (
        <Image
          src={post.data.image}
          alt={post.data.title}
          width={1200}
          height={630}
          class="col-span-full mx-auto w-full max-w-5xl object-cover"
          transition:name={`image-${post.id}`}
        />
      )
    }

    <PostHeader
      post={post}
      authors={authors}
      postReadingTime={postReadingTime}
      combinedReadingTime={combinedReadingTime}
      subpostCount={subpostCount}
    >
      <PostNavigation
        newerPost={navigation.newer}
        olderPost={navigation.older}
        parentPost={isCurrentSubpost ? navigation.parent : undefined}
      />
    </PostHeader>

    {
      tocSections.length > 0 && (
        <TOCSidebar sections={tocSections} currentPostId={currentPostId} />
      )
    }

    <article class="prose col-start-2 max-w-none">
      <Content components={{ img: MDXImage }} />
    </article>

    <div class="col-start-2 max-w-none">
      <Backlinks backlinks={backlinks} />
    </div>

    <div class="col-start-2 max-w-none">
      <GiscusComments />
    </div>

    {
      (hasChildPosts || isCurrentSubpost) && (
        <SubpostsSidebar
          parentId={
            isCurrentSubpost ? getParentId(currentPostId) : currentPostId
          }
          className="w-64"
        />
      )
    }

    <PostNavigation
      newerPost={navigation.newer}
      olderPost={navigation.older}
      parentPost={isCurrentSubpost ? navigation.parent : undefined}
    />
  </section>

  <ScrollToTop />
</Layout>
