---
import { GISCUS_CONFIG } from '@/consts'
---

<div id="comments-section" class="mt-10">
  <giscus-widget
    id="comments"
    repo={GISCUS_CONFIG.repo}
    repo-id={GISCUS_CONFIG.repoId}
    category={GISCUS_CONFIG.category}
    category-id={GISCUS_CONFIG.categoryId}
    mapping={GISCUS_CONFIG.mapping}
    strict={GISCUS_CONFIG.strict}
    reactions-enabled={GISCUS_CONFIG.reactionsEnabled}
    emit-metadata={GISCUS_CONFIG.emitMetadata}
    input-position={GISCUS_CONFIG.inputPosition}
    lang={GISCUS_CONFIG.lang}
    loading={GISCUS_CONFIG.loading}
    crossorigin="anonymous"
    async></giscus-widget>
</div>
